@using Microsoft.AspNetCore.Identity
@using Seminar_Oblak.Models.Binding
@using Seminar_Oblak.Services.Interface;
@model UserAdminBinding
@inject IUserSevice userSevice
@inject RoleManager<IdentityRole> roleManager;

@{
      var userRoles = await userSevice.GetUserRoles();
}

 <form asp-action="AddUser">
            <label asp-for="RoleId" class="control-label"></label>
            <div class="form-group">
                <select name="RoleId" class="form-control">
                    @foreach (var item in userRoles)
                    {
                        <option value="@item.Id">
                            @item.Name
                        </option>
                    }


                </select>
            </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Firstname)
        @Html.TextBoxFor(x=> x.Firstname, new {@class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Lastname)
        @Html.TextBoxFor(x=> x.Lastname, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Email)
        @Html.TextBoxFor(x=> x.Email, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Password)
        @Html.TextBoxFor(x=> x.Password, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label asp-for="DOB" class="control-label"></label>
        <input asp-for="DOB" class="form-control" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>
    



    <input type="submit" class="btn btn-primary mt-5" value="Apply">

        </form>



<a class="btn btn-danger" href="@Url.Action("UserAdministration", "Admin")">Abort</a>


<a class="btn btn-primary" href="@Url.Action("AdministratorControl", "Admin")">Back To Main Admin Panel</a>