



<a class="btn btn-primary btn-lg btn-block" href="@Url.Action("ProductCategoryAdministration", "Admin")"> ProductCategory Administration</a>

<a class="btn btn-primary btn-lg btn-block" href="@Url.Action("ProductAdministration", "Admin")"> Product Administration</a>

<a class="btn btn-primary btn-lg btn-block" href="@Url.Action("UserAdministration", "Admin")"> User Administration</a>

<a class="btn btn-primary btn-lg btn-block" href="@Url.Action("AddProduct", "Admin")"> Create A New Product</a>

<a class="btn btn-primary btn-lg btn-block" href="@Url.Action("AddProductCategory", "Admin")"> Create A New Category</a>

<a class="btn btn-primary btn-lg btn-block" href="@Url.Action("AddUser", "Admin")"> Create A New User</a>
