@model IEnumerable<Seminar_Oblak.Models.ViewModel.ProductCategoryViewModel>

@{
    int counter = 1;
}

<p>
  
    <a asp-action="AdministratorControl">Go Back To Main Admin panel </a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
           <th scope="col">                </th>
           

        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@product.Title</td>
                <td>@product.Description</td>              
                <td>
                    @Html.ActionLink("View","CategoryDetails","Admin",new {id= product.Id},new {@class = "btn btn-primary"})
                    @Html.ActionLink("Edit","UpdateCategory","Admin",new {id= product.Id},new {@class = "btn btn-primary"})
                    @Html.ActionLink("Delete","DeleteProductCategory","Admin",new {id= product.Id},new {@class = "btn btn-primary"})
                <td />
            </tr>
            counter++;
        }



    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("AddProductCategory", "Admin")">Add A New Category</a>

<a class="btn btn-primary" href="@Url.Action("ProductAdministration", "Admin")">To Products</a>

