@using Seminar_Oblak.Models.Dbo
@using Seminar_Oblak.Models.ViewModel
@using Microsoft.AspNetCore.Identity
@using Seminar_Oblak.Services.Interface
@model List<ApplicationUserViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject IUserSevice UserSevice


@{
    var userss = await UserSevice.GetUsersAsync();
    int counter = 1;
}

<p>
  
    <a asp-action="AdministratorControl">Go Back </a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>  
            <th scope="col">Email</th>
            <th scope="col">Active</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
                 <td>Adres</td>

                <td>@foreach (var adress in user.Adress)
                {
                    @adress.Country 
                       @adress.City 
                       <br />
                          @adress.Street 
                             @adress.PostalCode 
                                @adress.HouseNumbering
                   @* @Html.DisplayFor(modelItem => adress.City)*@
                }
                </td>

                <td>
                    @Html.ActionLink("View","CategoryDetails","Admin",new {id= user.Id},new {@class = "btn btn-primary"})
                    @Html.ActionLink("Edit","UpdateCategory","Admin",new {id= user.Id},new {@class = "btn btn-primary"})
                    @Html.ActionLink("Delete","DeleteCategory","Admin",new {id= user.Id},new {@class = "btn btn-primary"})
                <td />
            </tr>
            counter++;
        }



    </tbody>
</table>


<a class="btn btn-primary" href="@Url.Action("AddUser", "Admin")">Add a new user</a>



