@using Seminar_Oblak.Models.ViewModel
@model List<ProductViewModel>
@{
    int counter = 1;
}

@* Tu sam uzeo da prikaze 12 producta, jer grid koji sam napravio mi je puno lijepsi sa 12 (naspram 10) na indexu,
ako je bas potrebno mogu staviti da uzme 10  :( *@
<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model.OrderBy(x => Guid.NewGuid()).Take(12))
        {

            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="@product.ProductImgUrl" alt="Card image cap" style="width:100%">
                    <h1>@product.Title</h1>
                    <p class="price">€ @product.Price</p>
                    <p> @product.Description</p>
                    <p><button type="button" onclick="location.href='@Url.Action("Details","Home", new{id=product.Id})'">View</button></p>
                </div>
            </div>
        }
    </div>
</div>

<style>
    h1{
         max-height: 43px;
        overflow:hidden;
    }

    p{
       height: 53px;
        max-height: 60px;
        overflow:auto;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;


    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;

    }

        .card button:hover {
            opacity: 0.7;
        }

    img {
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
</style>
